# Unity generated folders
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/
/Recordings/

# Asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# JetBrains Rider specific
.idea/
*.iml
*.iws
.idea_modules/
.idea/workspace.xml
.idea/gradle.xml
.idea/libraries/
.idea/modules.xml
.idea/vcs.xml
.idea/.rider/
.idea/caches/
.idea/tasks.xml
.idea/assetWizardCaches/
.idea/codeStyles/
.idea/dictionaries/
.idea/markdown-navigator.xml
.idea/shelf/
.idea/.idea-groups/
.idea/.idea-jars/
.idea/.idea_vcs/
.idea/.idea_vcs_index/
.idea/assetIndex

# Visual Studio specific
.vs/
ExportedObj/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity meta files and crash reports
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Packed Addressables
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

# Android Streaming Assets
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# Miscellaneous
.gradle/
.DS_Store
*.swp
*.log
bin/
obj/
.vscode/
*.tmpro